body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background: #f1f1f1;
  /* border: 1px solid #555; */
  position: fixed;
  height: 100%;
  overflow: auto;
}

li {
  /* border-bottom: 1px solid #555; */
}

li:last-child {
  border-bottom: none;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

li a.active {
  background: #04aa6d;
  color: #fff;
}

li a:hover:not(.active) {
  background: #555;
  color: #fff;
}
