body {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li.right {
  float: right;
}

li a {
  text-decoration: none;
  display: block;
  padding: 16px 32px;
  color: #fff;
  text-align: center;
}

li a.active {
  background: #f14444;
}

li a:hover {
  background: #ddd;
  color: #333;
}

@media screen and (max-width: 600px) {
  li,
  li.right {
    float: none;
  }
}
